.test {
    background-color: #333;
}
#top {
    height: 200px;
    background-color: #f5f5f5;
}
.footerbtm {
    height: auto;
    background-color: #f8f8f8;
    padding: 10px 0px 10px 0px;
}
.footerbtm span {
    color: rgba(0,0,0,0.8);
    font-size: 8pt;
    line-height: 8pt;
    margin: 0px;
}