body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
/* CONTAINERS + SECTIONS */
.container-global {
    max-width: 1040px;
    margin: auto;
}
.container-extend {
    max-width: 92vw;
    margin: auto;
}
@media screen and (max-width: 640px) {
    .container-extend {
    max-width: 100vw!important;
    }
    .section-content-has-diagonal-left-to-right {
        height: 50px!important;
        top: -20px!important;
    }
}
.section-content-has-diagonal-left-to-right {
    position: absolute;
    height: 150px;
    -webkit-transform: skew(0deg, -6deg);
    transform: skew(0deg, -6deg);
    top: -70px;
    width: 100vw;
    left: 0px;
}
.header-diagonal-four {
    position: absolute;
    background-color: rgba(5,213,255,0.3);
    height: 330px;
    -webkit-transform: skew(0deg, 1deg);
    transform: skew(0deg, 1deg);
    top: 145px;
    width: 45vw;
    right: 0px;
    box-shadow: 10px -6px 20px rgba(0,0,0,0.03);
}
.header-diagonal-three {
    position: absolute;
    height: 330px;
    -webkit-transform: skew(0deg, 1deg);
    transform: skew(0deg, 4deg);
    top: -7px;
    width: 23vw;
    right: 0px;
    /* z-index: -100; */
    box-shadow: 0px -10px 20px rgba(0,0,0,0.08);
}
.header-diagonal-two {
    position: absolute;
    background: -webkit-linear-gradient(300deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
    background: linear-gradient(150deg,#53f 15%,rgba(5,213,255,0.9) 70%,rgba(166,255,203,0.9) 94%);
    height: 440px;
    -webkit-transform: skew(0deg, -6deg);
    transform: skew(0deg, -6deg);
    top: 50px;
    width: 100vw;
    left: 0px;
    box-shadow: 0px -1px 30px rgba(0,0,0,0.1);
}
.header-diagonal-one {
    position: absolute;
    background: rgba(71,80,255,0.8);
    height: 200px;
    -webkit-transform: skew(0deg, -6deg);
    transform: skew(0deg, -6deg);
    top: -12px;
    width: 25vw;
    left: 0px;
    z-index: 100;
    box-shadow: 2px -5px 30px rgba(0,0,0,0.08);
}
/* CONTAINERS + SECTIONS */
/* BUTTONS */
.standard-button-group {
    margin-top: 40px;
    width: 100%;
    display: block;
}
.button {
    margin: 15px 15px 15px 0px;

}
.button-standard-action, .button-important-action, .button-vimportant-action {
    position: relative;
    bottom: 0px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.button-standard-action {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #1fa2ff;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.button-important-action {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,.08);
    background: #1fa2ff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.button-epintercom-start {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.08);
    background: #1fa2ff;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: .05em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.button-vimportant-action {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,.08);
    background: #3ecf8e;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
/* BUTTONS */
/* ANIMATIONS */
.hover-bounce {
    bottom: 2px!important;
}
/* ANIMATIONS */
/* ICONS */
.medium-service-icon {
    margin-bottom: 40px;
}
/* ICONS */
/* LISTS */
.footertop ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
/* LISTS */
/* PADDING + MARGINS ETC */
.nopadding {
    padding: 0px!important;
}
.nopaddingleft {
    padding-left: 0px;
}
.nopaddingright {
    padding-right: 0px;
}
@media screen and (max-width: 640px) {
    .nopaddingmobile {
        padding: 0px!important;
    }
    .paddingleft {
        padding-left: 15px!important;
    }
    .paddingright {
        padding-right: 15px!important;
    }
}

.align-right {
    text-align: right;
}
.fluidheight {
    height: inherit;
    padding-top: 80px;
    padding-bottom: 80px;
}
/* PADDING + MARGINS ETC */
/* SECTION BACKGROUND */
.greybg {
    background-color: #f6f9fc;
}
.whitebg {
    background-color: #ffffff;
}
.bluebg {
    background-color: rgba(5,213,255,0.7);
}
/* SECTION BACKGROUND */
/* TYPOGRAPHY */
a:hover {
    text-decoration: none!important;
}
.greybg h3 {
    color: #8898aa;
    font-size: 20pt;
    font-weight: 200;
    line-height: 24pt;
    letter-spacing: 1px;
    margin: 0px;
}
.greybg h4 {
    color: #8898aa;
    font-size: 12pt;
    font-weight: 100;
    line-height: 16pt;
    letter-spacing: 1px;
    margin: 0px;
}
.whitebg h2, .greybg h2 {
    color: #8898aa;
    font-size: 20pt;
    font-weight: 200;
    line-height: 24pt;
    letter-spacing: 1px;
    margin: 0px 0px 30px 0px;
}
.whitebg h3 {
    color: #8898aa;
    font-size: 20pt;
    font-weight: 200;
    line-height: 24pt;
    letter-spacing: 1px;
    margin: 0px;
}
h3.call {
    color: #444;
    font-size: 16px;
    font-weight: 200;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin: 0px;
}
.whitebg h4 {
    color: #8898aa;
    font-size: 12pt;
    font-weight: 100;
    line-height: 16pt;
    letter-spacing: 1px;
    margin: 0px;
}
.whitebg h4.tip {
    background: rgb(255,51,102);
    display: -webkit-inline-box;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
}
.whitebg p, .whitebg p {
    color: #6b7c93;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.05em;
    margin: 0px;
}
/* TYPOGRAPHY */
/* NAVBAR */
.fixed-bg {
    background-color: rgba(64,176,255,0.99)!important;
}
.navbar {
    display: block!important;
}
.nav {
    z-index: 1000;
    background-color: transparent;
    border: 0px;
}
.navbar-brand {
    padding: 0px 15px!important;
}
.nav a {
    font-size: 16px;
    font-weight: 200;
    color: rgba(255,255,255,1);
    letter-spacing: 0.08em;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none!important;
    background-color: transparent!important;
    color: rgba(255,255,255,0.6);
}
.nav>li>a {
    padding: 10px 20px;
}
li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.dropdown-menu {
    padding: 15px 0px 0px 0px!important;
    border-radius: 6px!important;
    overflow: hidden;
    border: 0px!important;
    box-shadow: 0 4px 10px rgba(0,0,0,.08)!important;
    top: 70px!important;
}
.dropdown-section {
    padding: 15px;
    background-color: #f6f9fc;
}
.epdropdown>li>a.dropdownsimple, .epdropdown>li>a {
    padding: 5px 25px!important;
    font-size: 14px;
    font-weight: 200!important;
    color: #6b7c93!important;
    text-decoration: none!important;
}
.epdropdown>li>a>p {
    padding: 10px 0px 0px 0px;
    font-size: 12px;
    font-weight: 200;
    color: #8898aa;
    margin: 0px;
    text-decoration: none;
    text-transform: initial;
} 
.epdropdown>li>a.dropdownpop {
    padding: 10px 25px;
    font-size: 14px;
    color: #1fa2ff!important;
    font-weight: 400!important;
    letter-spacing: 0.08em!important;
    text-transform: uppercase;
}
.dropdown-section>li>a.dropdowncontact {
    font-size: 16px;
    color: #3ecf8e!important;
    font-weight: 400!important;
    letter-spacing: 0.05em!important;
    margin-bottom: 20px;
}
.dropdown-section>p {
    padding: 10px 25px 10px 10px!important;
    font-size: 12px;
    font-weight: 200!important;
    color: #6b7c93!important;
    letter-spacing: 0.05em;
    text-decoration: none!important;
    margin: 0px;
}
.dropdown-section>li>a.dropdownsimple {
    padding: 5px 25px 5px 0px!important;
    font-size: 16px;
    font-weight: 200!important;
    color: #6b7c93!important;
    letter-spacing: 0.05em;
    text-decoration: none!important;
    margin: 0px;
}
.dropdown-section>li {
    list-style: none;
    padding: 5px 25px 10px 5px!important;
}
.dropdown-section {
    margin-top: 30px;
}
.service {
    margin-right: 50px;
}
/* MOBILE NAV */
.navbar-toggle {
    padding: 5px 0px!important;
}
.navbar-toggle .icon-bar {
    width: 28px!important;
    height: 4px!important;
    border-radius: 6px!important;
    background: #fff!important;
}
.contact {
    display: none;
}
.contact-appear {
    display: block;
}
a.navcontact {
    font-weight: 400;
    padding-right: 0px!important;
}
/* MOBILE NAV */
/* NAVBAR */

/* PAGE HEADERS */
.epheaderhomebg {
    background: linear-gradient(rgba(71,80,255,1)40%, rgba(71,80,255,0)50%, rgba(71,80,255,0)10%);
}
.skewed-bg { 
    padding: 10px 0;
    position: relative;
    z-index: 100;
}  
#intro {
    padding-top: 30vh;
    text-align: left;
}

#intro h2 {
    font-size: 32px;
    line-height: 30px;
    font-weight: 200;
    color: rgba(255,255,255,1);
    margin: 0px;
    letter-spacing: 0.01em;
}
#intro p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 200;
    color: rgba(255,255,255,1);
    margin: 20px 0px 0px 0px;
    letter-spacing: 0.01em;
}
.gradient-bg {
    background: -webkit-linear-gradient(300deg,rgba(87,111,230,0.95) 15%,rgba(152,68,183,0.9) 70%,rgba(255,53,127,0.9) 94%);
    background: linear-gradient(150deg,rgba(87,111,230,0.95) 15%,rgba(152,68,183,0.9) 70%,rgba(255,53,127,0.95) 94%);
}
.gradient-bg-content {
    margin-top: 16vh;
}
.gradient-bg h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.03em;
    margin: 0px 0px 15px 0px;
}
.gradient-bg p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin: 0px;
    padding-right: 12vw;
    padding-left: 12vw;
}
.callus {
    position: absolute;
    bottom: 0px;
}
/* PAGE HEADERS */
/* RECENT POSTS */
.epnewscontent {
    background-color: #ffffff;
    height: 220px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    position: relative;
    bottom: 0px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.epnewsimage {
    height: auto;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 50px;
    padding: 0px 15px;
}
.epnewstext {
    background-color: #fff;
    height: auto;
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    top: 42px;
}
.epnewsposttype {
    background-color: #fff;
    height: auto;
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    border-bottom: 2px solid #f6f9fc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0px;
}
.epnewstext h2 {
    color: #ff3366;
    font-size: 14pt;
    font-weight: 600;
    line-height: 18pt;
    letter-spacing: 0.03em;
    margin: 0px 0px 10px 0px;
    text-transform: capitalize;
}
.epnewstext p {
    color: rgba(66,71,112,0.7);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    margin: 0px;
}
@media screen and (max-width: 640px) {
    .epnewscontent {
        margin-bottom: 30px!important;
    }
}
/* RECENT POSTS */
/* SERVICES */
.epservice {
    background-color: #ffffff;
    min-height: 220px;
    border-radius: 0px;
    border-bottom: 2px solid rgba(64,176,255,1);
    box-sizing: border-box;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    position: relative;
    bottom: 0px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
/* SERVICES */
/* FOOTER */
/*#top {
    height: 200px;
    background-color: #f6f9fc;
}*/
.footertop {
    height: inherit;
    background-color: #f6f9fc;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 2px solid rgba(207,215,223,.25);
}
@media screen and (max-width:640px) {
    .footercol {
        margin-top: 30px!important;
    }
}
.footertop h3 {
    color: #8898aa!important;
}
.footertop li {
    color: #8898aa!important;
}
.footertop a {
    color: #8898aa!important;
}
.footertop a:hover {
    text-decoration: none;
}
.footertop h3 {
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.footertop li, a {
    font-size: 10pt;
    line-height: 12pt;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.footerbtm {
    height: auto;
    background-color: #f6f9fc;
    padding: 10px 0px 10px 0px;
}
.footerbtm span {
    color: rgba(0,0,0,0.3);
    font-size: 8pt;
    line-height: 8pt;
    margin: 0px;
}
/* FOOTER */
/* INTERCOM */
.epintercom {
    margin-bottom: -60px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.epintercom-appear {
    margin-bottom: 0px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
/* INTERCOM */